.heading{
	text-align: center;
}
.container{
	display: flex;
}
.singlepic{
	margin: 2px;
	flex: 0.9;
	height: 80vh;
	border-radius: 20px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	opacity: 0.5;
	transition: all 500ms ease-in;
}
.singlepic.active{
	flex: 5;
	opacity: 1;
}